<div class="container pt-3">
  <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="todoInput">Todo:</label>
      <input formControlName="todo" type="text" class="form-control" id="todoInput" aria-describedby="todoId">
      <small id="todoId" class="form-text text-muted">Add to todo to remember.</small>
    </div>
    <div class="mb-5">
      <button [disabled]="!todoForm.valid" type="submit" class="btn btn-primary float-right">Add</button>
    </div>
  </form>
  <h6 class="mt-5">
    My todos:
  </h6>
  <div *ngIf="todos.length === 0" class="text-center">
    Brak todos.
  </div>
  <ul class="list-group">
    <li *ngFor="let todo of todos" class="list-group-item">
      {{ todo }}
    </li>
  </ul>
</div>
